<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- 
	<bean id="db" class="sample5.DatabaseConnection">
		bean을 주입할 때는 ref를, 값을 주입할 때는 value를 사용
		<property name="username" value="${db.username}"></property>
		<property name="password" value="${db.password}"></property>
	</bean>
	 -->

	<context:annotation-config/>
	<context:component-scan base-package="sample5"/>
		
	<!-- 지정된 properties 파일을 읽어서 환경설정정보를 로드한다. -->
	<context:property-placeholder 
		location="classpath:/sample5/database.properties"/>
</beans>
