<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="pdf" class="sample7.PdfViewer"></bean>

	<bean id="excel" class="sample7.ExcelViewer"></bean>
	
	<bean id="reporter" class="sample7.Reporter">
		<property name="viewers">
			<!-- 
				<set>태그는 Set객체를 생성한다.
				<ref/>태그는 Set객체에 담을 객체를 지정한다.
			 -->
			<set>
				<ref bean="pdf"/>
				<ref bean="excel"/>
			</set>
		</property>
	</bean>
	
</beans>
